<!-- content content -->
<div class="content">
  <div class="article-content pure-g">
    <div class="article-content-header pure-g">
      <div class="pure-u-1">
        <h1 class="article-content-title"  id="{{ article.id }}">{{ article.title  }}</h1>
        <p class="article-content-subtitle">
          {% if article.site_link is defined and article.source is defined %}
          来源:<a href="{{ article.site_link }}" class="article-author" target="_blank">{{ article.source|safe }}
          {% endif %}
          </a>   日期:<span class="article-updated">{{ article.updated|safe }}</span>
          <a class="star-article" href="#">{{ article.star_prompt }}</a>
        </p>
      </div>
    </div>
    <div class="article-content-body pure-u-1">
      {{ article.content|safe }}
    </div>
  </div>
</div>
<div class="article-url">
  <a href="{{ article.link }}" target="_blank" class="pure-button article-url-button">查看原文</a>
</div>
