{% extends "layout.html" %}
{% block body %}
<div class="pure-g-r content" id="{% block layout_id %}{% endblock %}">
  <!-- navigation  -->
  <div class="pure-u nav {% block nav_addition_class %}{% endblock %}">
    <a href="/"><img src="{{url_for('static', filename='images/logo1.png')}}" title="主页"></a>
    <div class="nav-inner">
      <div class="pure-menu pure-menu-open">
        <ul>
          <li><a href="{% block sourcelist_link %}{{ sourcelist_link }}{% endblock %}" class="{% block sourcelist_class %}{% endblock %}">源列表</a></li>
          <li class="pure-menu-heading">Setting</li>
          <li><a href="#"><span class="setting-label-color1"></span>添加订阅</a></li>
          <li><a href="/logout"><span class="setting-label-color2"></span>退出登录</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
</div>
{% endblock %}
