{% extends "content_layout.html" %}
{% block layout_id %}layout{% endblock %}
{% block content %}
<div class="pure-u" id="list">
  <div class="content" id="article-list">
    <!-- articles list  -->
    {% for item in article_list %}
    <a class="article-item-link" href="{{ item.link }}">
      {% if item.id == selected_id %}
      <div class="article-item pure-g article-item-selected">
      {% else %}
      <div class="article-item pure-g">
      {% endif %}
        <div class="pure-u-3-4">
          <h5 class="article-name"  id={{ item.id }}>{{ item.name|safe }}</h5>
        </div>
        <div class="pure-u-3-4">
          <p class="article-source" id={{ item.id }}>{{ item.site }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- article content -->
<div class="pure-u" id="main">
  {% include "article_view.html" %}
</div>
{% endblock %}
