{% extends "content_layout.html" %}
{% block layout_id %}source-list-layout{% endblock %}
{% block nav_addition_class %}nav-source-list{% endblock %}
{% block sourcelist_class %}list-selected{% endblock %}
{% block content %}
<!-- source list -->
<div class="pure-u source-gridview">
  <div class="pure-g-r">
    {% for item in source_list %}
    <div class="pure-u-1-4 source-grid" id={{ item.id }}>
      <div class="source-grid-content">
        <h3 class="site-title" id={{ item.id }}><a href="#">{{ item.title|truncate(20, True)|safe }}</a></h3>
        <div class="site-detail">
          <p class="site-lastest-update">最后更新: <span class="site-lastest-update-time">{{ item.updated|safe  }}<span></p>
              <ul class="site-lastest-articles-list">
                {% for i in item.articles %}
                <li class="site-lastest-articles-item">
                  <a href="#" id={{ i.id }}>{{ i.title|truncate(12, True)|safe }}</a>
                </li>
                {% endfor %}
              </ul>
              <a href="#" class="site-delete" id="{{ item.id }}">取消订阅</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% include "unsubscribe_modal.html" %}
