<div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">添加订阅</h4>
      </div>
      <div class="modal-body">
        <p id="subscribing-prompt">正在订阅...</p>
        <form class="pure-form" id="new-source-form">
          <input type="text" placeholder="请输入源的地址" class="pure-input-1" id="new-source-site"/>
        </form>
      </div>
      <div class="modal-footer" id="subscribe-modal-footer">
        <!--
        <button type="button" class="pure-button subscribe-close-button" data-dismiss="modal" id="cancel-suscribe">取消</button>
        -->
        <button type="button" class="pure-button subscribe-save-button" id="confirm-subscribe">订阅</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
