<div class="modal fade" id="unsubscribe-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">取消订阅</h4>
      </div>
      <div class="modal-body">
        <p id="unsubscribing-prompt">确认取消订阅</p>
      </div>
      <div class="modal-footer" id="subscribe-modal-footer">
        <div type="button" class="pure-button unsubscribe-save-button" id="confirm-unsubscribe">确认</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
